h1{
color: darkslateblue;
font-size: 200px;
text-align: center;
background-color: lightblue;
}
.important{
    color: lightskyblue;
    font: bolder;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: black;
    text-align: center;
}
img{
    align-items: center;
    height: auto;
    max-width: 100%;
    float: right;
}